<div class="overview-wrap">
  <div class="overview-sidepane">
    <section class="account-wrap">
      <header class="account-wrap-header">
        <div class="account-wrap-header-tint"></div>
        <h1>Thorsten Zerha</h1>
        <h2>TASTENWERK</h2>
        <div class="avatar-wrap">
          <img src="/assets/caminio_bot_128x128.png">
        </div>
      </header>
      <div class="username">
        @quaqua
      </div>
    </section>
  </div>
  <div class="overview-main">
    {{yield}}
  </div>
</div>
